{% extends 'layeout.html.twig' %}

{% block title %}
    Les disques disponibles! | {{ parent() }}
{% endblock %}

{% block main %}
<h3>Liste des disques</h3>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Nom de du disque</th>
        <th scope="col">Nombres de titres</th>
        <th scope="col">Nom de l'éditeur</th>
        <th scope="col">Date de Sortie</th>
        <th scope="col">Realisateur</th>
        <th scope="col">Description</th>
        <th scope="col">Action</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    {% for disque in disques %}
        <tr>

            <td>{{ disque.nom }}</td>

            <td>{{ disque.nombbreTitres }}</td>
            <td>{{ disque.editeur}}</td>
            <td>{{disque.dateSorties |date("Y-m-d") }}</td>
            <td>{{ disque.realisateur.nom }}</td>
            <td>{{disque.description }}</td>

            <td><a href="{{ path('disque_detail', {'id': disque.id})}}">Afficher</a></td>



        </tr>

    {% endfor %}
    </tbody>
</table>
<a class="navbar-brand" href="{{path('disque')}}">Ajouter un disque</a>


{% endblock %}

